$main-col: rgb(37, 36, 35);
$side-col: rgb(29, 29, 28);
$text-col: rgb(230, 230, 230);
$line-col: rgba(230, 230, 230, 0.4);

body, div#page {
  font-family: 'Lato';
  color: $text-col;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  background-color: $main-col;
  height: 100%;
  width: 100%;
  overflow: auto;
}

aside {
  box-sizing: border-box;
  background-color: $side-col;
  padding: 16px 0;
  width: 400px;
  height: 100%;
}

canvas {
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
}

hr {
  border: none;
  background-color: $line-col;
  width: 65%;
  height: 1px;
}

button {
  font-family: 'Lato';
  display: block;
  width: 100%;
  max-width: 500px;
  height: 48px;
  font-size: 14pt;
  margin: 1pc auto;
  border: 1px solid;
  border-color: $line-col;
  border-radius: 4px;
  color: darken($text-col, 10);
  background-color: lighten($main-col, 10);

  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    background-color: lighten($main-col, 15);
  }
}

input:not([type="checkbox"]) {
  box-sizing: border-box;
  font-family: 'Lato';
  color: $text-col;
  padding: 4px;
  background-color: lighten(transparentize($main-col, 0.3), 10);
  border: none;
  border-bottom: 1px dotted $line-col;
  font-size: 12pt;
  height: 32px;
  width: 100%;
  max-width: 400px;
}

input[type="checkbox"] {
  line-height: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, li {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 5px auto;
  padding: 5px 5px;

  &.clickable {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  &.selected {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0);
  }
}

.popup-backing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparentize($main-col, 0.2);
}

.popup {
  position: absolute;
  top: 250px;
  bottom: 250px;
  right: 250px;
  left: 250px;
  background-color: darken($main-col, 3);
  border: 1px solid $line-col;
  animation: slide-in 0.3s;
}

span#current-project.none::after {
  content: 'None';
  color: transparentize($text-col, 0.5);
}

.selector {
  li {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14pt;
    cursor: pointer;
    background-color: $main-col;
    text-align: center;

    &:hover {
      background-color: lighten($main-col, 10)
    }
  }
}
